.wood_card {
  background: url('./wood-card.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.blur {
  background: linear-gradient(155deg, #486853 -14.95%, #05324f 83.44%);
  filter: blur(15.149999618530273px);
}
