.bg {
  background: url("/presale-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.line {
  filter: blur(15px);
  background: linear-gradient(
    rgba(122, 121, 109, 0.7) -14.95%,
    #4d5454 44.58%,
    #041a2b 83.44%
  );
}
