.button {
  padding: 21px 36px 19px;
  background: #070707;
  color: white;
  border: 1px solid #ffd600;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.92px;
  clip-path: polygon(
    0.248% 12.434%,
    0.248% 12.434%,
    0.271% 11.47%,
    0.34% 10.547%,
    0.45% 9.674%,
    0.6% 8.863%,
    0.785% 8.124%,
    1.003% 7.468%,
    1.25% 6.907%,
    1.524% 6.45%,
    1.821% 6.108%,
    2.138% 5.893%,
    13.117% 0.894%,
    13.117% 0.894%,
    13.183% 0.867%,
    13.249% 0.845%,
    13.315% 0.83%,
    13.381% 0.821%,
    13.447% 0.817%,
    13.513% 0.819%,
    13.579% 0.827%,
    13.645% 0.841%,
    13.711% 0.861%,
    13.777% 0.887%,
    42.929% 13.532%,
    42.929% 13.532%,
    42.99% 13.556%,
    43.051% 13.577%,
    43.113% 13.593%,
    43.174% 13.605%,
    43.236% 13.613%,
    43.298% 13.616%,
    43.359% 13.616%,
    43.421% 13.612%,
    43.482% 13.603%,
    43.544% 13.59%,
    71.026% 6.923%,
    71.026% 6.923%,
    71.076% 6.912%,
    71.126% 6.905%,
    71.176% 6.902%,
    71.226% 6.901%,
    71.276% 6.904%,
    71.326% 6.91%,
    71.375% 6.92%,
    71.425% 6.933%,
    71.475% 6.949%,
    71.525% 6.969%,
    86.732% 13.484%,
    86.732% 13.484%,
    86.818% 13.517%,
    86.905% 13.541%,
    86.992% 13.557%,
    87.079% 13.566%,
    87.166% 13.565%,
    87.253% 13.557%,
    87.34% 13.54%,
    87.426% 13.515%,
    87.512% 13.482%,
    87.599% 13.441%,
    97.134% 8.388%,
    97.134% 8.388%,
    97.539% 8.284%,
    97.93% 8.392%,
    98.301% 8.698%,
    98.645% 9.182%,
    98.955% 9.829%,
    99.224% 10.622%,
    99.445% 11.542%,
    99.611% 12.574%,
    99.716% 13.7%,
    99.752% 14.903%,
    99.752% 84.361%,
    99.752% 84.361%,
    99.709% 85.672%,
    99.586% 86.885%,
    99.392% 87.978%,
    99.136% 88.932%,
    98.828% 89.728%,
    98.476% 90.346%,
    98.09% 90.766%,
    97.68% 90.968%,
    97.254% 90.932%,
    96.821% 90.64%,
    93.486% 87.342%,
    93.486% 87.342%,
    93.278% 87.163%,
    93.068% 87.035%,
    92.855% 86.957%,
    92.642% 86.928%,
    92.429% 86.949%,
    92.218% 87.02%,
    92.008% 87.139%,
    91.802% 87.308%,
    91.599% 87.525%,
    91.402% 87.791%,
    84.485% 98.128%,
    84.485% 98.128%,
    84.341% 98.324%,
    84.194% 98.489%,
    84.044% 98.622%,
    83.892% 98.723%,
    83.737% 98.792%,
    83.581% 98.828%,
    83.425% 98.832%,
    83.269% 98.803%,
    83.113% 98.742%,
    82.958% 98.647%,
    66.435% 86.72%,
    66.435% 86.72%,
    66.326% 86.648%,
    66.217% 86.59%,
    66.107% 86.545%,
    65.996% 86.514%,
    65.885% 86.496%,
    65.774% 86.491%,
    65.663% 86.5%,
    65.552% 86.523%,
    65.441% 86.559%,
    65.331% 86.608%,
    51.581% 93.626%,
    51.581% 93.626%,
    51.508% 93.659%,
    51.435% 93.685%,
    51.362% 93.705%,
    51.288% 93.716%,
    51.215% 93.721%,
    51.141% 93.719%,
    51.068% 93.709%,
    50.995% 93.692%,
    50.921% 93.668%,
    50.849% 93.637%,
    36.199% 86.613%,
    36.199% 86.613%,
    36.079% 86.564%,
    35.958% 86.53%,
    35.838% 86.513%,
    35.717% 86.511%,
    35.597% 86.525%,
    35.477% 86.555%,
    35.357% 86.601%,
    35.238% 86.662%,
    35.12% 86.74%,
    35.003% 86.833%,
    21.407% 98.601%,
    21.407% 98.601%,
    21.266% 98.709%,
    21.123% 98.788%,
    20.98% 98.84%,
    20.836% 98.864%,
    20.692% 98.86%,
    20.548% 98.829%,
    20.405% 98.77%,
    20.263% 98.683%,
    20.124% 98.569%,
    19.986% 98.427%,
    10.166% 87.246%,
    10.166% 87.246%,
    10.003% 87.077%,
    9.837% 86.941%,
    9.67% 86.836%,
    9.501% 86.762%,
    9.33% 86.72%,
    9.16% 86.71%,
    8.989% 86.732%,
    8.819% 86.786%,
    8.649% 86.872%,
    8.481% 86.99%,
    3.056% 91.343%,
    3.056% 91.343%,
    2.634% 91.558%,
    2.22% 91.534%,
    1.825% 91.288%,
    1.456% 90.84%,
    1.121% 90.209%,
    0.828% 89.413%,
    0.587% 88.471%,
    0.404% 87.401%,
    0.288% 86.223%,
    0.248% 84.955%,
    0.248% 12.434%
  );
}
