.card {
  background: url('./wood-card.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.about_card_shadow {
  filter: blur(30px);
  background: rgba(0, 0, 0, 0.4);
}

.blur {
  background: linear-gradient(180deg, #575a4f 50%, #4e7f8c 72.46%);
  filter: blur(20.299999237060547px);
}
