.bg {
  background: url("/airdrop-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.airdrop_line {
  filter: blur(30px);
  background: linear-gradient(155.43deg, #3d415d -14.95%, #0a3249 83.44%);
}
