.bg {
  background: url("./header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.blur {
  filter: blur(14.6px);
  background: linear-gradient(#60625e 0.01%, #4791e6 48.28%);
}
