@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabriela&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.paytone {
  font-family: "Paytone One", sans-serif;
}

.luckiest {
  font-family: "Luckiest Guy", cursive;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.gabriela {
  font-family: "Gabriela", serif;
}

body {
  overflow-x: hidden !important;
}

.footer_icon_hover {
  box-shadow: 0px 0px 6.62px 0px #ffcf24 inset;
}

.footer_icon_hover:hover {
  box-shadow: 0px 0px 15.62px 0px #060609 inset !important;
  background: #ffc700;
}

.footer_line {
  background: linear-gradient(
    90deg,
    #060609 -0.87%,
    #f9c819 51.51%,
    #060609 100%
  );
}
