@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabriela&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
}

.paytone {
  font-family: "Paytone One", sans-serif;
}

.luckiest {
  font-family: "Luckiest Guy", cursive;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.gabriela {
  font-family: "Gabriela", serif;
}

body {
  overflow-x: hidden !important;
  cursor: none !important;
}

.footer_icon_hover {
  box-shadow: 0px 0px 6.62px 0px #ffcf24 inset;
}

.footer_icon_hover:hover {
  box-shadow: 0px 0px 15.62px 0px #060609 inset !important;
  background: #ffc700;
}

.footer_line {
  background: linear-gradient(
    90deg,
    #060609 -0.87%,
    #f9c819 51.51%,
    #060609 100%
  );
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f3d583;
}

::-webkit-scrollbar-thumb {
  background: #af6d27;
}

::-webkit-scrollbar-thumb:hover {
  background: #a55f14;
}

html {
  scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden;
  cursor: url("./cursor.png"), auto important;
}

#root {
  overflow-x: hidden;
}

#load {
  position: absolute;
  width: 600px;
  height: 36px;
  left: 50%;
  top: 40%;
  margin-left: -300px;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#load div {
  position: absolute;
  width: 20px;
  height: 36px;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  animation: move 2s linear infinite;
  -o-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: #35c4f0;
}

#load div:nth-child(2) {
  animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
#load div:nth-child(3) {
  animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
#load div:nth-child(4) {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
#load div:nth-child(5) {
  animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
#load div:nth-child(6) {
  animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
#load div:nth-child(7) {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

#load div:nth-child(8) {
  animation-delay: 1.4s;
  -o-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  -webkit-animation-delay: 1.4s;
}

#load div:nth-child(9) {
  animation-delay: 1.6s;
  -o-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
}

#load div:nth-child(10) {
  animation-delay: 1.8s;
  -o-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  -webkit-animation-delay: 1.8s;
}

#load div:nth-child(11) {
  animation-delay: 2s;
  -o-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

#load div:nth-child(12) {
  animation-delay: 2.2s;
  -o-animation-delay: 2.2s;
  -moz-animation-delay: 2.2s;
  -webkit-animation-delay: 2.2s;
}

#load div:nth-child(13) {
  animation-delay: 2.4s;
  -o-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
  -webkit-animation-delay: 2.4s;
}

#load div:nth-child(14) {
  animation-delay: 2.6s;
  -o-animation-delay: 2.6s;
  -moz-animation-delay: 2.6s;
  -webkit-animation-delay: 2.6s;
}

@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-moz-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-webkit-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-o-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}
